# derived_merge defaults to ON and causes problems when using mysqludf_ta.

# Derived merge optimization is explained here: https://mariadb.com/kb/en/mariadb/derived-table-merge-optimization/
# Using this optimization breaks the use of the UDF somehow the UDF ends up running after query values have been
# filtered, so it stops you evaluating UDF values in the WHERE clause.
# TODO: raise a bug with mariadb about this. Write a blog post.

[mysqld]
optimizer_switch='derived_merge=OFF'
default-storage-engine=MyISAM
skip-innodb #we don't use innodb, and it consumes memory

# https://mariadb.com/kb/en/library/optimizing-key_buffer_size/
key_buffer_size = 3072M

