timeframes:
    natural:
        - 60
        - 300
        - 900
        - 1800
        - 3600
        - 7200
        - 10800
        - 14400
        - 86400
        - 604800
    synthetic:
db:
    dbhost: {{ fx['datafeed']['dbhost'] }}
    dbname: {{ fx['datafeed']['dbname'] }}
    dbuser: {{ fx['datafeed']['dbuser'] }}
    dbpasswd: {{ fx['datafeed']['dbpass'] }}
defaultProvider: oanda
providers:
    fxcm:
        username: D25695585
        password: 945
        accountType: Demo
    oanda:
        account_id: 001-004-221857-001
        token_file: /etc/fxtrader/oanda.token
        endpoint_hosts:
            rest: api-fxtrade.oanda.com
            stream: stream-fxtrade.oanda.com
        synthetic:
            NATGAS_SUGAR:
                op: "/"
                leftop: NATGAS_USD
                rightop: SUGAR_USD
            JP225_USD:
                op: "/"
                leftop: JP225_JPY
                rightop: USD_JPY
            GBP_EUR:
                op: "/"
                leftop: 1
                rightop: EUR_GBP
            USD_EUR:
                op: "/"
                leftop: 1
                rightop: EUR_USD
            CHF_EUR:
                op: "/"
                leftop: 1
                rightop: EUR_CHF
            JPY_EUR:
                op: "/"
                leftop: 1
                rightop: EUR_JPY
    oanda_demo:
        account_id: 101-004-10091587-001
        token_file: /etc/fxtrader/oanda_demo.token
        endpoint_hosts:
            rest: api-fxpractice.oanda.com
            stream: stream-fxpractice.oanda.com
        synthetic:
            NATGAS_SUGAR:
                op: "/"
                leftop: NATGAS_USD
                rightop: SUGAR_USD
            JP225_USD:
                op: "/"
                leftop: JP225_JPY
                rightop: USD_JPY
            GBP_EUR:
                op: "/"
                leftop: 1
                rightop: EUR_GBP
            USD_EUR:
                op: "/"
                leftop: 1
                rightop: EUR_USD
            CHF_EUR:
                op: "/"
                leftop: 1
                rightop: EUR_CHF
            JPY_EUR:
                op: "/"
                leftop: 1
                rightop: EUR_JPY
